<% content_for :title, @wizard ? "Configurar perfil profesional" : "Perfil profesional" %>

<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <% if @wizard %>
    <%= render "progress", step: @step %>
  <% end %>

  <% if @step == 1 %>
    <%= render "step_profile" %>
  <% elsif @step == 2 %>
    <%= render "step_service" %>
  <% elsif @step == 3 %>
    <%= render "step_availability" %>
  <% end %>
</div>
